.tm-footer {
    background-color: #222222;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.tm-footer-title {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.tm-footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tm-footer-links li {
    margin-bottom: 5px;
}

.tm-footer-links li a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.tm-footer-links li a:hover {
    color: #009999;
}

.tm-social-links img {
    width: 30px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}
