/* Estilos para la galería */
.tm-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: -15px;
}

.tm-gallery div {
    flex: 1 0 calc(22.333% - 30px);
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s; /* Efecto de transición al hover */
}

.tm-gallery div:hover {
    transform: scale(1.02); /* Aumentar ligeramente el tamaño al pasar el ratón */
}

/* Efecto Ming */
figure.effect-ming {
    background: #030c17;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 0;
    transition: box-shadow 0.3s; /* Transición para la sombra */
}

figure.effect-ming:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra al pasar el ratón */
}

figure.effect-ming img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.35s;
}

figure.effect-ming figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    opacity: 0;
    background-color: rgba(58, 52, 42, 0.6); /* Semitransparente */
    transition: opacity 0.35s;
}

figure.effect-ming:hover figcaption {
    opacity: 1; /* Aumentar opacidad al hover */
}

/* Estilos para enlaces y pie de página */
.tm-footer-links li,
.tm-social-links li {
    list-style: none;
    margin-bottom: 5px;
}

.tm-footer-links li a,
.tm-social-links li a {
    color: #999;
    transition: color 0.3s, background-color 0.3s;
}

.tm-footer-links li a:hover {
    color: #009999;
}

.tm-social-links li {
    display: inline-block;
    margin-right: 15px;
}

.tm-social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s; /* Transición más suave */
}

.tm-social-links li a:hover {
    color: #fff;
    background-color: #009999;
    transform: scale(1.1); /* Aumentar tamaño al pasar el ratón */
}

.tm-footer {
    font-size: 0.95rem;
}

.tm-footer-title {
    font-size: 1.4rem;
}

/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    display: flex; /* Mantiene la imagen y el texto en una fila */
    gap: 10px; /* Espacio entre imagen y texto */
    padding: 20px;
    max-width: 800px; /* Limitar el ancho del modal */
    max-height: 80%; /* Limitar la altura del modal */
    overflow: auto; /* Permitir el desplazamiento si es necesario */
}

.modal img {
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    max-height: 400px; /* Limitar la altura máxima de la imagen */
    margin: auto; /* Centra la imagen dentro del contenedor */
    border-radius: 8px;
}

.modal-text {
    display: flex;
    flex-direction: column; /* Coloca el texto en columna */
    justify-content: center; /* Centra verticalmente */
}

.download-button {
    padding: 5px 5px; /* Espaciado para el botón */
    background-color: #009999; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centra el texto en el botón */
    cursor: pointer; /* Cambia el cursor al pasar */
    transition: background-color 0.3s, transform 0.3s; /* Efecto de transición */
    margin-top: 15px; /* Espacio superior */
}

.download-button:hover {
    background-color: #007f7f; /* Color al pasar el mouse */
    transform: scale(1.02); /* Aumentar el tamaño al pasar el ratón */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #009999;
}
