/* app.css */

/* Estilos generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Color de fondo suave */
  color: #343a40; /* Color de texto oscuro */
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff; /* Color primario para los encabezados */
}

/* Footer */
.tm-bg-gray {
  background-color: #343a40; /* Fondo gris oscuro para el footer */
  color: #f8f9fa; /* Color de texto claro */
}

.tm-footer-title {
  font-size: 1.5rem; /* Tamaño de fuente para títulos en el footer */
}

.tm-footer-links {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0; /* Eliminar padding */
}

.tm-footer-links li {
  margin-bottom: 10px; /* Espaciado entre los enlaces */
}

.tm-footer-links a {
  color: #f8f9fa; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

.tm-footer-links a:hover {
  text-decoration: underline; /* Subrayar en hover */
}

.tm-social-links {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0; /* Eliminar padding */
}

.tm-social-links li {
  margin-left: 10px; /* Espaciado entre iconos sociales */
}

.tm-social-links a {
  color: #f8f9fa; /* Color de los iconos sociales */
  font-size: 1.5rem; /* Tamaño de los iconos */
}

.tm-social-links a:hover {
  color: #007bff; /* Cambiar color en hover */
}

/* Responsive */
@media (max-width: 768px) {
  .tm-footer-title {
      font-size: 1.2rem; /* Tamaño de fuente más pequeño en móviles */
  }
}
.loader {
  display: flex;
  flex-direction: column; /* Para alinear el texto y el spinner verticalmente */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #030c17; /* Color de fondo */
  color: white; /* Color del texto */
}

.spinner {
  border: 10px solid rgba(255, 255, 255, 0.3); /* Color del borde del spinner */
  border-top: 10px solid white; /* Color superior para el efecto de giro */
  border-radius: 50%; /* Hace el spinner redondo */
  width: 60px; /* Ancho del spinner */
  height: 60px; /* Alto del spinner */
  animation: spin 1s linear infinite; /* Animación de giro */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Inicia sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Rota 360 grados */
  }
}

.loading-text {
  margin-top: 20px; /* Espaciado entre el spinner y el texto */
  font-size: 1.5rem; /* Tamaño de fuente del texto */
}
