/* app.css */

/* Estilos generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Color de fondo suave */
  color: #343a40; /* Color de texto oscuro */
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff; /* Color primario para los encabezados */
}

/* Footer */
.tm-bg-gray {
  background-color: #343a40; /* Fondo gris oscuro para el footer */
  color: #f8f9fa; /* Color de texto claro */
}

.tm-footer-title {
  font-size: 1.5rem; /* Tamaño de fuente para títulos en el footer */
}

.tm-footer-links {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0; /* Eliminar padding */
}

.tm-footer-links li {
  margin-bottom: 10px; /* Espaciado entre los enlaces */
}

.tm-footer-links a {
  color: #f8f9fa; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

.tm-footer-links a:hover {
  text-decoration: underline; /* Subrayar en hover */
}

.tm-social-links {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0; /* Eliminar padding */
}

.tm-social-links li {
  margin-left: 10px; /* Espaciado entre iconos sociales */
}

.tm-social-links a {
  color: #f8f9fa; /* Color de los iconos sociales */
  font-size: 1.5rem; /* Tamaño de los iconos */
}

.tm-social-links a:hover {
  color: #007bff; /* Cambiar color en hover */
}

/* Responsive */
@media (max-width: 768px) {
  .tm-footer-title {
      font-size: 1.2rem; /* Tamaño de fuente más pequeño en móviles */
  }
}
